@font-face {
    font-family: 'Norse-Bold';
    src: url("fonts/Norse-Bold.otf")
}

body{
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    
}

#container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.background{
    position: relative;
}

.background img{
    width: 400px;
}

.logo{
    position: absolute;
    top: 100px;
    left: 100px;
}
.logo{
    font-family: "Norse-Bold";
    color: white;
    display: flex;
    align-items: center;
    font-size: 70px;
    z-index: 1;
}

.logo img{
    width: 75px;
    height: 100px;
}

.dark-bg{
    background-color: black;
    opacity: 0.45;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 100px;
    z-index: 0;
}

.right{
    background-color: #F9FAFB;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.upper{
    font-weight: 600;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-left: 50px;
    margin-bottom: 25px;
    font-size: 0.8em;
    -webkit-box-shadow: 8px 8px 33px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 33px -20px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 33px -20px rgba(66, 68, 90, 1);
}

.formInput{
    display: flex;
    flex-direction: column;
}

.formInput input{
    width: 10rem;
    margin-bottom: 10px;
}

.formInput input:focus{
    border-color: blue;
    -webkit-box-shadow: 8px 8px 33px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 33px -20px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 33px -20px rgba(66, 68, 90, 1);
}

form{
    display: flex;
    gap: 50px;
}

.lower{
    margin-left: 50px;
}

.createAccount{
    margin-bottom: 15px;
}

.createAccount button{
    background: #596D48;
    color: white;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    border: 2px solid #F9FAFB;
}

.logIn button{
    background: none;
    border: none;
    color: #596D48;
    font-weight: bold;
}

.logIn button:hover,
.createAccount button:hover{
    cursor: pointer;
}

.createAccount button:active{
    background-color: #6A7E59;
}

.logIn button:active{
    color: #6A7E59;
}