@font-face {
    font-family: 'Norse-Bold';
    src: url("fonts/Norse-Bold.otf")
}

body{
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    
}

#container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.background{
    position: relative;
}

.background img{
    width: 400px;
}

.logo{
    position: absolute;
    top: 100px;
    left: 100px;
}
.logo{
    font-family: "Norse-Bold";
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    z-index: 1;
}

.logo img{
    width: 75px;
    height: 100px;
}

.dark-bg{
    background-color: black;
    opacity: 0.45;
    width: 400px;
    height: 100px;
    position: absolute;
    top: 100px;
    z-index: 0;
}

.right{
    background-color: #F9FAFB;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.upper{
    font-weight: 600;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 0.8em;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.formInput input{
    width: 10rem;
    margin-bottom: 10px;
}

form{
    display: flex;
    gap: 50px;
}