@font-face {
    font-family: 'Norse-Bold';
    src: url("fonts/Norse-Bold.otf")
}

body{
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
    
}

#container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.logo{
    font-family: "Norse-Bold";
}

.background img{
    width: 400px;
}

.right{
    background-color: #F9FAFB;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.form{
    background-color: #FFFFFF;
}